@font-face {
    font-family: "Lato";
    src: url("./assets/fonts/Lato-Black.ttf"),
    url("./assets/fonts/Lato-Bold.ttf"),
    url("./assets/fonts/Lato-Light.ttf"),
    url("./assets/fonts/Lato-Regular.ttf"),
    url("./assets/fonts/Lato-Thin.ttf");
}
body {
    margin: 0 auto;
    height: 100vh;
    width: 1020px;
}
.logo {
    margin-left: 20px;
}
ul li:not(:first-child):before {
    content: "•";
    margin-left: 10px;
    margin-right: 10px;
}
.nav {
    padding-right: 20px;
}
ul li {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 700;
    display: inline;
    text-transform: uppercase;
    list-style-type: circle;
}
ul li a{
    text-decoration: none;
    color: whitesmoke;
}
ul li a:visited{
    text-decoration: none;
    color: grey;
}
.header {
    padding: 25px 20px 15px;
    color: #ffffff;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    align-items: baseline; 
    border-bottom: 5px solid #000;;
}
.phone-right-container {
    position: relative;
    right: 90px;
}
.phone-left-container {
    position: relative;
    left: 90px;
}
.phone-right-image {
    bottom: 35px;
    left: 56px;
    position: absolute;
}
.phone-left-image {
    bottom: 82px;
    left: 11px;
    position: absolute;
}
.left-button {
    position: absolute;
    left: 42px;
}
.right-button {
    position: absolute;
    right: 40px;
}
#button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.slider {
    position: relative;
    background: dimgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 53px 22px 58px;
    border-bottom: 5px solid #000;
}
.services {
    height: 215px;
    position: relative;
}
.for-services {
    position: absolute;
    top: 35px;
    left: 40px;
}
.for-services h2 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #666D89;
}  
.services p {
    color: #8c8d94;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}        
.row-one {
    display: flex;
    height: 120px;
}
.row-two {
    display: flex;
    height: 150px;
}
.row-one p {
    margin-bottom: 8px;
}
.service-block img{
    margin: 5px 10px 0px 10px;
}
.service-block img:hover{
    background-color: #767e9e;
    border-radius: 50%;
}
.service-block {
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.support {
    margin: 0px 30px 0px 30px;
}
.text {
    margin: 0px 10px 0px 10px;
    width: 220px;
    display: inline-table;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 500;
    color: #767e9e;
    line-height: 1.75;
}
.text p {
    word-spacing: 3px;
    font-size: 12px;
}
.text h3 {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #666D89;
    margin-bottom: -10px;
}
.row-two img {
    margin-top: 8px;
}
.part-two {
    border-bottom: 5px solid black;
}
